.github
.husky
.idea
lib
node_modules
db/migrations
src/type
src/model/generated
**/*.sh
**/*.json
**/*.jsonl
**/*.md
**/*.yaml
**/*.yml
**/*.graphql
**/.env
**/.env.*
**/.dockerignore
.prettierignore
.gitignore
LICENSE
Dockerfile
lint-staged.config.mjs
eslint.config.mjs
prettier.config.mjs