.github
.husky
.idea
.nx
lib
node_modules
db
# src/type
src/model/generated
**/*.sh
**/*.json
**/*.jsonl
**/*.md
**/*.yaml
**/*.yml
**/*.graphql
**/.env
**/.env.*
.prettierignore
.gitignore
.dockerignore
LICENSE
Dockerfile
lint-staged.config.mjs
eslint.config.mjs
prettier.config.mjs