.github
.husky
.idea
db
lib
node_modules
src/model/generated
src/types/generated
**/*.sh
**/*.json
**/*.jsonl
**/*.md
**/*.yaml
**/*.yml
**/*.graphql
**/.env
**/.env.*
**/.dockerignore
.prettierrc
.prettierignore
.gitignore
LICENSE
Dockerfile
eslint.config.mjs