name: DockerHub
on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'The name of the image tag.'
        required: true
        default: 'latest'
  release:
    types: [created]

jobs:
  push:
    name: Publish Image
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Login, build, tag, and push image to DockerHub

        env:
          DOCKERHUB_API_USERNAME: ${{ secrets.DOCKERHUB_API_USERNAME }}
          DOCKERHUB_API_TOKEN: ${{ secrets.DOCKERHUB_API_TOKEN }}
          DOCKER_REPOSITORY: ${{ vars.DOCKER_REPOSITORY }}
          IMAGE_TAG: "${{ github.event_name == 'workflow_dispatch' ? github.event.inputs.image_tag : github.ref_name }}"

        run: |
          docker login --username $DOCKERHUB_API_USERNAME --password $DOCKERHUB_API_TOKEN
          docker build -t enjin/$DOCKER_REPOSITORY:$IMAGE_TAG .
          docker push enjin/$DOCKER_REPOSITORY:$IMAGE_TAG
          docker tag enjin/$DOCKER_REPOSITORY:$IMAGE_TAG enjin/$DOCKER_REPOSITORY:latest
          docker push enjin/$DOCKER_REPOSITORY:latest
